@media (min-width: 768px){
    .navbar-nav>li>a {
        padding:12px 20px;
    }

    .header img {
        width: 100%;
        margin-top: 24px;
    }
    .ct-box li{
        width: 100%;
    }
}

@media (max-width:767px ) {
    .icon-bar {
        background: #fff;
    }
    .header .col-xs-12{
        text-align: center;
    }
    .site-menu{
        float: none;
    }

    .top-nav{
        width: 100%;
        text-align: center;
    }
    .foot-bottom .col-xs-12{
        text-align: center;
    }

    .foot-bottom .social-media{
        float: none !important;
    }
}