body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #333;
    background: #ffffff url(../img/header-bg.jpg) no-repeat center top;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #2465a8;
    border-color: #2465a8;
}

a{
    color: #333;
}

.container{
    background: #fff;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.4);
    -o-box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.4);
}

a:hover{
    text-decoration: none;
    outline: 0;
}

.vtable{
    display: table;
}

.table-cell{
    display: table-cell;
}
.vmiddle{
    vertical-align: middle;
}


ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-nav{
    background: #fcf9f4;
    float: right;
    font-size: 14px;
}

.top-nav ul li{
    display: inline-block;
    padding: 5px 10px;
    border-left: 1px solid #333;

}

.header{
    padding: 10px 0;
}

.header img{
    width: 80%;
    margin-top: 8px;
}

.site-menu {
    float: right;
    margin-top: 12px;
}

.site-menu ul li {
    display: inline-block;
    padding: 0 8px;
    font-size: 12px;
    border-right: 1px dashed #333;
    vertical-align: middle;
}

.site-menu ul li:nth-child(4n){
    border-right: none;
}

.site-menu ul li:nth-child(5n){
    border-right: none;
}

.site-menu ul li input {
    max-width: 180px;
    border-radius:0;
    font-size: 12px;
    background-color: #fcf8f3;
    border-color: #000 !important;
}

li .input-group.margin-bottom-sm {
    max-width: 180px;
}

.input-group-addon{
    border-radius: 0;
    background-color: #e5dbdb;
    border-color: #000 !important;
}

/*--main-navigation--*/

.nav-main{
    background-color: #1e558d;
    border-radius: 0;
    min-height: auto;
    margin-bottom: 0;
    border: none;
}

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav>li>a{
    font-size: 14px;
    color: #fff;
    border-right: 1px dotted #fff;
    padding: 12px 25px;
}

.navbar-nav>li:last-child>a{
    border-right: none;
}

.dropdown-menu{
    background-color: #1e558d;
}

.dropdown-menu>li>a {
    color: #fff;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover,.nav>li>a:focus, .nav>li>a:hover{
    background-color: #2465a8;
    color: #fff;
}


.section-feat{
    background: #f6f3ee;
    padding: 15px 0;
    display: block;
    width: 100%;
    float: left;
}

.section {
    padding: 0 15px;
    border-right: 1px solid #000;
    display: block;
    width: 100%;
    float: left;
}

.section>h4{
    color: #2465a8;
    text-transform: capitalize;
}

.section>.aside{
    width: 75%;
    float: left;
    padding: 0 12px 0 0;
    margin-bottom: 15px;
}

.section>.aside>span{
    line-height: 20px;
}

.section>img{
    width: 25%;
    float: right;
}

.section-feat .col-md-5:nth-child(2n){
    padding-left: 0;
}

.section-feat .col-md-2{
    padding-left: 0;
}

.section .btn-section{
    width: 100%;
    display: block;
    float: left;
}

.section button{
    background-color: #2465a8;
    border-radius: 0;
    color: #fff;
}

.address p {
    display: inline-flex;
    margin-bottom: 0;
}

.address span{
    line-height: 20px;
}

.address {
    padding: 20px 0;
}

.address span {
    line-height: 24px;
    /* font-size: 13px; */
    font-weight: 700;
}

.section-about{
    padding: 15px 0;
}

.section-about .aside{
    width: 60%;
}

.section-about img{
    width: 40%;
}

.section-about .section{
    border-right: none;
}

.section-about .table>tbody>tr>td{
    padding: 5px;
    border: none;
}

.section-about .table>tbody>tr:nth-child(2n+1){
    background-color: #f6f3ee;
}


.section-news{
    padding: 15px 0;
}

.news-content{
    background-color:#f6f3ee ;
}

.news-content img{
    width: 100%;
}

.news-content h4{
    background-color: #1e558d;
    color: #fff;
    max-height: 60px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: none;
    word-break: normal;
    padding: 12px 8px;
    margin: 0;
}

.news-content p{
    padding: 8px;
    margin-bottom: 0;
}

.news-content a:hover, .news-content a:focus{
    text-decoration: none;
    outline: 0;
}


.footer-nav{
    border-top: 1px solid #000;
}

.news-content a:hover p{color: #333}

.foot-bottom{
    padding:25px 0;
    vertical-align: middle;
}

.social-media span ul{
    display: inline-block;
}

.right{
    float: right;
}

.left{
    float: left;
}

.social-media ul li{
    display: inline-block;
    margin-bottom: 5px;
}

.social-media ul li:first-child{
    padding-left: 12px;
}

.nubl-section{
    padding: 30px 0;
}

/*--about-page--*/
.f-common-wrapper{
    margin-bottom: 15px;
}

.f-common-wrapper a.common-heading .yellow-line {
    width: 5px;
    height: 60px;
    background: #1e558d;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.f-common-wrapper a.common-heading {
    width: 100%;
    background: #f7f7f9;
    line-height: 4.3;
    display: block;
    border-bottom: 1px solid #fff;
    padding-left: 25px;
    color: #434343;
    position: relative;
    text-transform: capitalize;
    font-size: 14px;
}


.f-common-wrapper a.common-heading .arrow {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -8px;
    background-position: -356px -170px;
    display: none;
}

.f-common-wrapper a.common-heading.select {
    background: #eee;
}

.f-common-wrapper a.common-heading.select  {
    background: #eee;
}

.f-common-wrapper a.common-heading:hover  {
    background: #eee;
}

.f-common-wrapper a.common-heading.select .yellow-line{
    display: block;
}

.f-content-wrapper h2 {
    margin: 8px 0 27px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    font-size: 20px;
    text-transform: capitalize;
}

.f-content-wrapper p {
    margin-bottom: 28px;
    color: #333;
    letter-spacing: 0.5px;
}

.f-content-wrapper .about-list {
    padding-left: 15px;
    color: #333;
}
.about-list li{
    list-style: disc;
}
.content-tab{
    display: none;
}

#tab1 {
    display: block;
}

/*--message--*/
.msg-ceo{
    margin-bottom: 15px;
}
.msg-ceo img{
    max-width: 224px;
}

.msg-ceo h5{
    font-size: 14px;
}

.msg-ceo .table-cell{
    padding: 0 15px;
}



.img-banner{
    height: 232px;
    overflow: hidden;
    width: 100%;
    background: url("../img/general-loan.jpg") 50% 72% no-repeat;
}

.saving-banner{
    background: url("../img/saving.jpg") 50% 72% no-repeat;

}

.map-banner{
    background: none;
}

.video-banner{
    background: none;
    height: auto;
}

.video-banner h2{
    padding-right: 150px;
    color: #1e558d !important;
    background: none !important;
    font-size: 30px !important;
}

.img-banner h2 {
    padding-right: 150px;
    background: #1e558d;
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    padding-left: 15px;
}


.formWrap .form-control{
    border-radius: 0;
}

.nubl-content{
    margin-bottom: 25px;
}

.nubl-content img{
    width: 100%;
}



/* General style */
.grid-gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid-gallery figure {
    margin: 0;
}

.grid-gallery figure img {
    display: block;
    width: 100%;
}

.grid-gallery figcaption h3 {
    margin: 0;
    padding: 0 0 0.5em;
}

.grid-gallery figcaption p {
    margin: 0;
}

/* Grid style */
.grid-wrap {
    margin: 0 auto;
    padding: 15px 0;
}

.grid {
    margin: 0 auto;
}

.grid li {
    width: 25%;
    float: left;
    cursor: pointer;
}

.grid figure {
    padding: 15px;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.grid li:hover figure {
    opacity: 0.7;
}

.grid figcaption {
    background: #e4e4e4;
    padding: 25px;
}

/* Slideshow style */
.slideshow {
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.slideshow-open .slideshow {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.slideshow ul {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,150px);
    transform: translate3d(0,0,150px);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.slideshow ul.animatable li {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.slideshow li {
    width: 660px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -280px 0 0 -330px;
    visibility: hidden;
}

.slideshow li.show {
    visibility: visible;
}

.slideshow li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.slideshow li.current:after {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

.slideshow figure {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 50px solid #fff;
    overflow: hidden;
}

.slideshow figcaption {
    padding-bottom: 20px;
}

.slideshow figcaption h3 {
    font-weight: 300;
    font-size: 200%;
}

/* Navigation */
.slideshow nav span {
    position: fixed;
    z-index: 1000;
    color: #59656c;
    text-align: center;
    padding: 3%;
    cursor: pointer;
    font-size: 2.2em;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slideshow nav span.nav-next {
    right: 0;
}

.slideshow nav span.nav-close {
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    color: #31373a;
}



/* Info on arrow key navigation */
.info-keys {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 60px;
    font-size: 8px;
    padding-top: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.info-keys:before,
.info-keys:after {
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
}

.info-keys:before {
    left: 10px;
    content: "\e603";
}

.info-keys:after {
    right: 10px;
    content: "\e604";
}

/* Example media queries (reduce number of columns and change slideshow layout) */

@media screen and (max-width: 60em) {
    /* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
    .grid li {
        width: 33.3%;
    }

    .slideshow li {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
    }

    .slideshow li figure img {
        width: auto;
        margin: 0 auto;
        max-width: 100%;
    }

    .slideshow nav span,
    .slideshow nav span.nav-close {
        font-size: 1.8em;
        padding: 0.3em;
    }

    .info-keys {
        display: none;
    }

}

@media screen and (max-width: 35em) {
    .grid li {
        width: 50%;
    }
}

@media screen and (max-width: 24em) {
    .grid li {
        width: 100%;
    }
}


/*-- Gallery --*/
.ug-gallery-wrapper,
.ug-gallery-wrapper *{
    transition: all !important;
    -o-transition: all !important;
    -webkit-transition: all;
    -moz-transition: all !important;
    -ms-transition: all !important;
    max-width:none;
}

.ug-gallery-wrapper{
    z-index:0;
}

.ug-item-wrapper img{
    width:auto;
    max-width:none;
    margin:0px;
    padding:0px;
}

.ug-videoplayer-wrapper video{
    height:100%;
    width:100%;
}


.ug-rtl{
    direction:rtl;
}

.ug-gallery-wrapper{
    overflow:hidden;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    margin: 25px 0 30px;
}

.ug-error-message{
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
    font-size:20px;
    color:#F30D0D;
}

.ug-error-message-wrapper{
    width:100%;
    height:100%;
    border:1px solid black;
}

.ug-gallery-wrapper .ug-canvas-pie{
    position:absolute;
    z-index:4;
}

.ug-gallery-wrapper .ug-progress-bar{
    position:absolute;
    overflow:hidden;
    z-index:4;
}

.ug-gallery-wrapper .ug-progress-bar-inner{
    xposition:absolute;
}

.ug-gallery-wrapper.ug-fullscreen{
    height: 100% !important;
    width: 100% !important;
    max-width:none !important;
    max-height:none !important;
}

.ug-gallery-wrapper.ug-fake-fullscreen{
    position: fixed !important;
    height: auto !important;
    width: auto !important;
    max-width:none !important;
    max-height:none !important;
    margin: 0px !important;
    padding: 0px !important;
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 999999 !important;
}

.ug-body-fullscreen{
    overflow: hidden !important;
    height: 100% !important;
    width: 100% !important;
    margin:0px !important;
    padding:0px !important;
}

.ug-gallery-wrapper .ug-preloader-trans{
    display:block;
    height:35px;
    width:32px;
    height:32px;
    background-image:url('../img/loader_skype_trans.gif');
    background-repeat:no-repeat;
}



.ug-gallery-wrapper .ug-slider-wrapper{
    position:absolute;
    overflow:hidden;
    z-index:1;
    background-color:#000000;
}


.ug-slider-wrapper .ug-slide-wrapper{
    position:absolute;
}

.ug-slide-wrapper.ug-slide-clickable{
    cursor:pointer;
}

.ug-slider-wrapper .ug-slider-inner{
    position:absolute;
    z-index:0;
}

.ug-slider-wrapper .ug-item-wrapper{
    position:absolute;
    overflow:hidden;
}

.ug-slider-wrapper,
.ug-item-wrapper img{

    -webkit-user-select: none;	/* make unselectable */
    -moz-user-select: none;
    -ms-user-select: none;
    max-width:none !important;
    box-sizing:border-box;
}

.ug-slider-wrapper .ug-slider-preloader{
    position:absolute;
    z-index:1;
    border:2px solid #ffffff;
    border-radius:6px;
    background-color:#ffffff;
    background-position:center center;
    background-repeat:no-repeat;
}

.ug-slider-preloader.ug-loader1{
    width:30px;
    height:30px;
    background-image:url('../img/loader-white1.gif');
}

.ug-slider-preloader.ug-loader1.ug-loader-black{
    background-image:url('../img/loader-black1.gif');
}

.ug-slider-preloader.ug-loader2{
    width:32px;
    height:32px;
    background-image:url('../img/loader-white2.gif');
}

.ug-slider-preloader.ug-loader2.ug-loader-black{
    background-image:url('../img/loader-black2.gif');
}

.ug-slider-preloader.ug-loader3{
    width:38px;
    height:38px;
    background-image:url('../img/loader-white3.gif');
}

.ug-slider-preloader.ug-loader3.ug-loader-black{
    background-image:url('../img/loader-black3.gif');
}

.ug-slider-preloader.ug-loader4{
    width:32px;
    height:32px;
    background-image:url('../img/loader-white4.gif');
    background-color:white;
}

.ug-slider-preloader.ug-loader4.ug-loader-black{
    background-image:url('../img/loader-black4.gif');
}

.ug-slider-preloader.ug-loader5{
    width:60px;
    height:8px;
    background-image:url('../img/loader-white5.gif');
    background-color:white;
    border:none;
    border-radius:0px;
}

.ug-slider-preloader.ug-loader5.ug-loader-black{
    background-image:url('../img/loader-black5.gif');
    border:2px solid #000000;
}

.ug-slider-preloader.ug-loader6{
    width:32px;
    height:32px;
    background-image:url('../img/loader-white6.gif');
}

.ug-slider-preloader.ug-loader6.ug-loader-black{
    background-image:url('../img/loader-black6.gif');
}

.ug-slider-preloader.ug-loader7{
    width:32px;
    height:10px;
    background-image:url('../img/loader-white7.gif');
    border-width:3px;
    border-radius:3px;
}

.ug-slider-preloader.ug-loader7.ug-loader-black{
    background-image:url('../img/loader-black7.gif');
}

.ug-slider-preloader.ug-loader-black{
    border-color:#000000;
    background-color:#000000;
}

.ug-slider-preloader.ug-loader-nobg{
    background-color:transparent;
}

.ug-slider-wrapper .ug-button-videoplay{
    position:absolute;
    z-index:2;
    cursor:pointer;
}

.ug-slider-wrapper .ug-button-videoplay.ug-type-square{
    width:86px;
    height:66px;
    background-image:url('../img/play-button-square.png');
    background-position:0px -66px;
}

.ug-slider-wrapper .ug-button-videoplay.ug-type-square.ug-button-hover{
    background-position:0px 0px;
}


.ug-slider-wrapper .ug-button-videoplay.ug-type-round{
    width:76px;
    height:76px;
    background-image:url('../img/play-button-round.png');
    opacity:0.9;
    filter: alpha(opacity = 90);
    transition: all 0.3s ease 0s !important;
}


.ug-slider-wrapper .ug-button-videoplay.ug-type-round.ug-button-hover{
    opacity:1;
    filter: alpha(opacity = 100);
    transition: all 0.3s ease 0s !important;
}



.ug-gallery-wrapper .ug-videoplayer{
    position:absolute;
    z-index:100;
    background-color:#000000;
    background-image:url('../img/loader-black1.gif');
    background-repeat:no-repeat;
    background-position:center center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.ug-videoplayer .ug-videoplayer-wrapper{
    width:100%;
    height:100%;
    background-color:#000000;
    background-image:url('../img/loader-black1.gif');
    background-repeat:no-repeat;
    background-position:center center;
}


.ug-videoplayer .ug-videoplayer-button-close{
    position:absolute;
    height:64px;
    width:64px;
    background-image:url('../img/button-close.png');
    cursor:pointer;
    z-index:1000;
}


.ug-videoplayer .ug-videoplayer-button-close:hover{
    background-position: 0px -64px;
}



.ug-gallery-wrapper .ug-thumbs-strip,
.ug-gallery-wrapper .ug-thumbs-grid{
    position:absolute;
    overflow:hidden;

    -webkit-user-select: none;	/* make unselectable */
    -moz-user-select: none;
    -ms-user-select: none;

    xbackground-color:green;
    z-index:10;
}

.ug-thumbs-strip.ug-dragging{
    xcursor: -webkit-grab;
    xcursor: -moz-grab;
}

.ug-gallery-wrapper .ug-thumbs-strip-inner,
.ug-gallery-wrapper .ug-thumbs-grid-inner{
    position:absolute;
}

.ug-thumb-wrapper.ug-thumb-generated{
    position:absolute;
    overflow:hidden;

    -webkit-user-select: none;	/* make unselectable */
    -moz-user-select: none;
    -ms-user-select: none;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
}


.ug-thumb-wrapper.ug-thumb-generated .ug-thumb-loader,
.ug-thumb-wrapper.ug-thumb-generated .ug-thumb-error{
    position:absolute;
    top:0px;
    left:0px;
    background-repeat:no-repeat;
    background-position:center center;
}

.ug-thumb-wrapper .ug-thumb-border-overlay{
    position:absolute;
    top:0px;
    left:0px;
    z-index:4;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-style:solid;
}

.ug-thumb-wrapper .ug-thumb-overlay{
    position:absolute;
    top:0px;
    left:0px;
    z-index:3;
}

.ug-thumb-wrapper.ug-thumb-generated .ug-thumb-loader-dark{
    background-image:url('../img/loader.gif');
}

.ug-thumb-wrapper.ug-thumb-generated .ug-thumb-loader-bright{
    background-image:url('../img/loader_bright.gif');
}

.ug-thumb-wrapper.ug-thumb-generated .ug-thumb-error{
    background-image:url('../img/not_loaded.png');
}

.ug-thumb-wrapper.ug-thumb-generated img{
    position:absolute;
    z-index:1;
    max-width:none !important;
}

.ug-thumb-wrapper.ug-thumb-generated img.ug-thumb-image-overlay{
    position:absolute;
    z-index:2;
    max-width:none !important;
}


/* bw desaturate effect lightweight */
img.ug-bw-effect{
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

/* blur effect desaturate effect lightweight */
img.ug-blur-effect{

    filter: blur(0.8px);
    -webkit-filter: blur(0.8px);
    -moz-filter: blur(0.8px);
    -o-filter: blur(0.8px);
    -ms-filter: blur(0.8px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id='blur'><feGaussianBlur stdDeviation=\'0.8\' /></filter></svg>#blur"); /* Firefox 10+, Firefox on Android */
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0.8');
}

img.ug-sepia-effect{
    -webkit-filter: sepia(1);
    -webkit-filter: sepia(100%); -moz-filter: sepia(100%);
    -ms-filter: sepia(100%); -o-filter: sepia(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'sepia\'><feColorMatrix values=\'0.14 0.45 0.05 0 0 0.12 0.39 0.04 0 0 0.08 0.28 0.03 0 0 0 0 0 1 0\' /></filter></svg>#sepia"); /* Firefox 10+, Firefox on Android */
    filter: sepia(100%);
    background-color: #5E2612;
    filter: alpha(opacity = 50);
    zoom:1;
}




.ug-gallery-wrapper .ug-bullets{
    position: absolute;
    top:0px;
    left:0px;
    margin:0px;
    padding:0px;
}

.ug-gallery-wrapper .ug-bullets .ug-bullet{
    background-repeat:no-repeat;
    cursor:pointer;
    display:block;
    float:left;
    z-index:2;
}

.ug-gallery-wrapper .ug-bullets .ug-bullet:first-child{
    margin-left:0px;
}



.ug-gallery-wrapper .ug-textpanel{
    position:absolute;
    overflow:hidden;
}

.ug-slider-wrapper .ug-textpanel{
    z-index:2;
}

.ug-gallery-wrapper .ug-textpanel-bg,
.ug-gallery-wrapper .ug-textpanel-title,
.ug-gallery-wrapper .ug-textpanel-description{
    display:block;
    position:absolute;
    margin:0px;
    padding:0px;
}


.ug-gallery-wrapper .ug-textpanel-bg{
    background-color:#000000;
    opacity:0.4;
    filter: alpha(opacity = 40);
    z-index:1;
}

.ug-textpanel-textwrapper{
    overflow:hidden;
}

.ug-gallery-wrapper .ug-textpanel-title{
    font-size:16px;
    font-weight:bold;
    color:white;
    text-align:left;
    z-index:2;
}

.ug-gallery-wrapper .ug-textpanel-description{
    font-size:14px;
    color:white;
    text-align:left;
    z-index:3;
}



.ug-slider-wrapper .ug-zoompanel{
    position:absolute;
    top:200px;
    left:100px;
}

.ug-zoompanel .ug-zoompanel-button{
    background-repeat: no-repeat;
    cursor:pointer;
    display:block;
}



.ug-gallery-wrapper .ug-arrow-left{
    position:absolute;
    background-repeat:no-repeat;
    display:block;
    cursor:pointer;
}

.ug-gallery-wrapper .ug-arrow-right{
    position:absolute;
    background-repeat:no-repeat;
    cursor:pointer;
}




.ug-gallery-wrapper .ug-grid-panel{
    position:absolute;
    background-color: #000000;
    xbackground-color: blue;

    z-index:2;
}


.ug-gallery-wrapper .ug-grid-panel .grid-arrow{
    position:absolute;
    background-repeat:no-repeat;
    cursor:pointer;
    z-index:11;
}

.ug-gallery-wrapper .ug-grid-panel .grid-arrow.ug-button-disabled{
    cursor:default;
}


/* handle tip */
.ug-gallery-wrapper .ug-panel-handle-tip{
    position:absolute;
    z-index:13;
    cursor:pointer;
}

.ug-gallery-wrapper .ug-overlay-disabled{
    position:absolute;
    z-index:100;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    background-image:url('../img/cover-grid.png');
}



.ug-gallery-wrapper .ug-strip-panel{
    position:absolute;
    background-color:#000000;
    z-index:2;
}

.ug-strip-panel .ug-strip-arrow{
    position:absolute;
    cursor:pointer;
}

.ug-strip-panel .ug-strip-arrow.ug-button-disabled{
    cursor:default;
}


.ug-strip-panel .ug-strip-arrow-tip{
    position:absolute;
}


.ug-thumb-wrapper.ug-tile{
    display:block;
    position:absolute;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    overflow:hidden;
    padding:0px;
    margin:0px;
}

.ug-tile .ug-tile-cloneswrapper{
    position:absolute;
    width:0px;
    height:0px;
    top:0px;
    left:0px;
    overflow:hidden;
    opacity:0;
    filter: alpha(opacity = 90);
}


/* transit something */
/* transit fixed size items */
/* transit image overlay */

.ug-tiles-transit.ug-tiles-transition-active .ug-thumb-wrapper.ug-tile,
.ug-tiles-transit.ug-tiles-transition-active .ug-thumb-wrapper.ug-tile .ug-trans-enabled{
    transition: left 0.7s ease 0s, top 0.7s ease 0s, width 0.7s ease 0s, height 0.7s ease 0s !important;
}


.ug-thumb-wrapper.ug-tile.ug-tile-clickable{
    cursor: pointer;
}

.ug-thumb-wrapper.ug-tile .ug-image-container{
    position:absolute;
    overflow:hidden;
    z-index:1;
    top:0px;
    left:0px;
}

.ug-thumb-wrapper.ug-tile img.ug-thumb-image{

    -webkit-user-select: none;	/* make unselectable */
    -moz-user-select: none;
    -ms-user-select: none;
    max-width:none !important;
    max-height:none !important;

    display:block;
    border:none;
    padding:0px !important;
    margin:0px !important;

    width:auto;
    height:auto;
    position:absolute;
}


.ug-thumb-wrapper.ug-tile .ug-tile-image-overlay{
    position:absolute;
    overflow:hidden;
    z-index:2;
    top:0px;
    left:0px;
}

.ug-thumb-wrapper.ug-tile .ug-tile-image-overlay img{
    width:100%;
    max-width:none !important;
}

.ug-tiletype-justified .ug-thumb-wrapper.ug-tile .ug-tile-image-overlay img{
    height:100%;
    max-width:none !important;
}

.ug-thumb-wrapper.ug-tile .ug-tile-icon{
    position:absolute;
    width:38px;
    height:38px;
    background-repeat:no-repeat;
    background-position:0 0;
    xbackground-color:green;
    z-index:6;
    top:1px;
    left:1px;
    cursor:pointer;
}

.ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-link{
    background-image:url('../img/icon-link32.png');
}

.ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-zoom{
    background-image:url('../img/icon-zoom32.png');
}

.ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-play{
    background-image:url('../img/icon-play32.png');
}

.ug-thumb-wrapper.ug-tile .ug-tile-icon:hover{
    background-position:0 -38px;
}


.ug-thumbs-grid .ug-tile-image-overlay img{
    width:auto;
    height:auto;
    position:absolute;
    max-width:none !important;
}

/* text panel on tiles*/

.ug-tile .ug-textpanel{
    z-index: 5;
    cursor:default;
}

.ug-tile.ug-tile-clickable .ug-textpanel{
    cursor:pointer;
}

.ug-tile .ug-textpanel-title{
    font-size:14px;
    font-weight:bold;
}


.ug-gallery-wrapper .ug-carousel-wrapper{
    position:absolute;
    overflow:hidden;
}

.ug-gallery-wrapper .ug-carousel-inner{
    position:absolute;
}



.ug-gallery-wrapper.ug-lightbox{
    display: none;
    position: fixed;
    border: none;
    padding:0px;
    margin:0px;
    outline: invert none medium;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width:none !important;
    max-height:none !important;
    z-index: 999999;
}

.ug-lightbox .ug-lightbox-top-panel{
    position:absolute;
    z-index:2;
}

.ug-lightbox .ug-lightbox-top-panel-overlay{
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000000;
    opacity:0.4;
    filter: alpha(opacity=40);
}


.ug-lightbox .ug-lightbox-overlay{
    z-index:1;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:1;
}

.ug-lightbox .ug-slider-wrapper{
    z-index:1;
    xbackground-color:green;
    background-color:transparent !important;
}

.ug-lightbox .ug-textpanel{
    z-index: 2;
}


.ug-lightbox .ug-lightbox-arrow-left,
.ug-lightbox .ug-lightbox-arrow-right{
    position:absolute;
    width:50px;
    height:55px;
    background-repeat:no-repeat;
    background-image:url('../img/lightbox-arrow-left.png');
    background-position:0px 0px;
    z-index:3;
    cursor:pointer;
}

.ug-lightbox .ug-lightbox-arrow-right{
    background-image:url('../img/lightbox-arrow-right.png');
}

.ug-lightbox .ug-lightbox-button-close{
    position:absolute;
    width:36px;
    height:36px;
    background-repeat:no-repeat;
    background-image:url('../img/lightbox-icon-close.png');
    background-position:0px 0px;
    z-index:4;
    cursor:pointer;
}


.ug-lightbox-compact .ug-lightbox-button-close{
    width:45px;
    height:41px;
    background-image:url('../img/lightbox-icon-close-compact2.png');
}


.ug-lightbox .ug-lightbox-arrow-left.ug-arrow-hover,
.ug-lightbox .ug-lightbox-arrow-right.ug-arrow-hover{
    background-position:0px -55px;
}

.ug-lightbox .ug-lightbox-button-close.ug-button-hover{
    background-position:0px -35px;
}

.ug-lightbox-compact .ug-lightbox-button-close.ug-button-hover{
    background-position:0px -40px;
}

.ug-lightbox .ug-lightbox-numbers{
    position:absolute;
    color:#e5e5e5;
    font-size:12px;
    top:14px;
    left:8px;
    z-index:3;
}

.ug-lightbox-compact .ug-lightbox-numbers{
    font-size: 14px;
    padding-right:5px;
    padding-top:7px;
}

.ug-lightbox .ug-textpanel-title,
.ug-lightbox .ug-textpanel-description{
    font-size: 14px;
    font-weight: normal;
    color: #e5e5e5;
}

.ug-lightbox-compact .ug-textpanel-title,
.ug-lightbox-compact .ug-textpanel-description{
    color:#F3F3F3;
    font-size: 16px;
}


.ug-tabs-wrapper{
    margin-top:0px;
    margin-bottom:20px;
    text-align:center;
}

.ug-tabs-wrapper a.ug-tab{
    display: inline-block;
    cursor:pointer;
    text-decoration:none;
    color:#ffffff;
    padding-left:8px;
    padding-right:8px;
    padding-top:6px;
    padding-bottom:6px;
    margin-left:5px;
    background-color:#333333;
    border-radius:3px;
    font-size:12px;
    font-weight:normal;

    border: 1px solid #969696;
}

.ug-tabs-wrapper a.ug-tab:hover{
    background-color: #707070 !important;
}

.ug-tabs-wrapper a.ug-tab.ug-tab-selected,
.ug-tabs-wrapper a.ug-tab.ug-tab-selected:hover{
    background-color: #2077A2 !important;
    cursor:default !important;
}

.ug-tabs-wrapper a.ug-tab:first-child{
    margin-left:0px !important;
}



/* --- arrows -- */

.ug-arrow-left.ug-skin-default,
.ug-arrow-right.ug-skin-default{
    width:15px;
    height:30px;
    background-image:url('../img/slider_arrow_left.png');
    background-position:0px 0px;
}

.ug-arrow-right.ug-skin-default{
    background-image:url('../img/slider_arrow_right.png');
}

.ug-arrow-left.ug-skin-default.ug-arrow-hover,
.ug-arrow-right.ug-skin-default.ug-arrow-hover{
    background-position:0px -30px;
}

.ug-arrow-left.ug-skin-default.ug-arrow-disabled,
.ug-arrow-right.ug-skin-default.ug-arrow-disabled{
    background-position:0px -60px;
}

/* --- bullets -- */

.ug-bullets.ug-skin-default .ug-bullet{
    width:15px;
    height:15px;
    background-image:url('../img/slider_bullets.png');
    background-position:top left;
    margin-left:5px;
}

.ug-bullets.ug-skin-default .ug-bullet.ug-bullet-active{
    background-position:bottom left;
}

.ug-bullets.ug-skin-default.ug-bullets-gray .ug-bullet{
    background-image:url('../img/tile_bullets_gray.png');
}

.ug-bullets.ug-skin-default.ug-bullets-blue .ug-bullet{
    background-image:url('../img/tile_bullets_blue.png');
}

.ug-bullets.ug-skin-default.ug-bullets-brown .ug-bullet{
    background-image:url('../img/tile_bullets_brown.png');
}

.ug-bullets.ug-skin-default.ug-bullets-green .ug-bullet{
    background-image:url('../img/tile_bullets_green.png');
}

.ug-bullets.ug-skin-default.ug-bullets-red .ug-bullet{
    background-image:url('../img/tile_bullets_red.png');
}

.ug-button-tile-navigation{
    width:36px;
    height:36px;
    background-position:top left;
    cursor:pointer;
    float:left;
}

.ug-button-tile-navigation.ug-button-tile-left{
    background-image:url('../img/tile_button_left.png');
}

.ug-button-tile-navigation.ug-button-tile-right{
    background-image:url('../img/tile_button_right.png');
}

.ug-button-tile-navigation:hover{
    background-position:bottom left;
}

.ug-button-tile-navigation.ug-button-disabled{
    opacity:0.6;
}

.ug-button-tile-navigation.ug-button-disabled:hover{
    background-position:top left;
}

.ug-button-tile-navigation.ug-button-tile-play{
    background-image:url('../img/tile_button_play_pause.png');
    width:35px;
}

.ug-button-tile-navigation.ug-button-tile-play.ug-pause-icon{
    background-position:bottom left;
}

.ug-button-tile-navigation.ug-button-tile-play:hover{
    background-position:top left;
}

.ug-button-tile-navigation.ug-button-tile-play.ug-pause-icon:hover{
    background-position:bottom left;
}


/* --- play button -- */

.ug-button-play.ug-skin-default{
    position:absolute;
    background-image:url('../img/button_playpause.png');
    width:14px;
    height:17px;
    cursor:pointer;
    background-position:0px 0px;
}

.ug-button-play.ug-skin-default.ug-button-hover{
    background-position:0px -17px;
}

.ug-button-play.ug-skin-default.ug-stop-mode{
    background-position:0px -34px;
}

.ug-button-play.ug-skin-default.ug-stop-mode.ug-button-hover{
    background-position:0px -51px;
}

/* --- fullscreen button -- */

.ug-button-fullscreen.ug-skin-default{
    position:absolute;
    background-image:url('../img/button_fullscreen.png');
    width:16px;
    height:16px;
    cursor:pointer;
    background-position:0px 0px;
}

.ug-button-fullscreen.ug-skin-default.ug-button-hover{
    background-position:0px -16px;
}

.ug-button-fullscreen.ug-skin-default.ug-fullscreenmode{
    background-position:0px -32px;
}

.ug-button-fullscreen.ug-skin-default.ug-fullscreenmode.ug-button-hover{
    background-position:0px -48px;
}


/* --- zoom panel --- */

.ug-zoompanel.ug-skin-default .ug-zoompanel-button{
    background-repeat: no-repeat;
    cursor:pointer;
    height: 23px;
    width: 23px;
    margin-top:5px;
    background-position: 0px 0px;
}

.ug-zoompanel.ug-skin-default .ug-zoompanel-plus{
    margin-top:0px;
}

.ug-zoompanel.ug-skin-default .ug-zoompanel-plus{
    background-image:url('../img/icon_zoom_plus.png');
}

.ug-zoompanel.ug-skin-default .ug-zoompanel-minus{
    background-image:url('../img/icon_zoom_minus.png');
}

.ug-zoompanel.ug-skin-default .ug-zoompanel-return{
    background-image:url('../img/icon_zoom_back.png');
}

.ug-zoompanel.ug-skin-default .ug-zoompanel-button.ug-button-hover{
    background-position: 0px -23px;
}

.ug-zoompanel.ug-skin-default .ug-zoompanel-button-disabled,
.ug-zoompanel.ug-skin-default .ug-zoompanel-button.ug-button-hover.ug-zoompanel-button-disabled{
    background-position: 0px -46px;
    cursor:default;
}


/* --- Grid Panel Arrows -- */

/*--- down arrow ---*/

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-down.ug-skin-default{
    width:30px;
    height:15px;
    background-position:0px 0px;
    background-image:url('../img/arrow_grid_down.png');
}

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-down.ug-skin-default.ug-button-hover{
    background-position:0px -15px;
}

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-down.ug-skin-default.ug-button-hover.ug-button-disabled,
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-down.ug-skin-default.ug-button-disabled{
    background-position:0px -30px;
}


/*--- up arrow ---*/

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-up.ug-skin-default{
    width:30px;
    height:15px;
    background-position:0px 0px;
    background-image:url('../img/arrow_grid_up.png');
}

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-up.ug-skin-default.ug-button-hover{
    background-position:0px -15px;
}

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-up.ug-skin-default.ug-button-hover.ug-button-disabled,
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-up.ug-skin-default.ug-button-disabled{
    background-position:0px -30px;
}

/*--- left arrow ---*/

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left.ug-skin-default{
    width:40px;
    height:40px;
    background-position:0px -40px;
    background-image:url('../img/grid_arrow_left.png');
}

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left.ug-skin-default.ug-button-hover{
    background-position:0px -0px;
}

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left.ug-skin-default.ug-button-hover.ug-button-disabled,
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left.ug-skin-default.ug-button-disabled{
    background-position:0px -80px;
}

/*--- right arrow ---*/

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right.ug-skin-default{
    width:40px;
    height:40px;
    background-position:0px -40px;
    background-image:url('../img/grid_arrow_right.png');
}

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right.ug-skin-default.ug-button-hover{
    background-position:0px -0px;
}

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right.ug-skin-default.ug-button-hover.ug-button-disabled,
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right.ug-skin-default.ug-button-disabled{
    background-position:0px -80px;
}

/*--- left arrow - horizontal panel type ---*/

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left-hortype.ug-skin-default{
    width:15px;
    height:30px;
    background-image:url('../img/slider_arrow_left.png');
    background-position:0px 0px;
}

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left-hortype.ug-skin-default.ug-button-hover{
    background-position:0px -30px;
}

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left-hortype.ug-skin-default.ug-button-hover.ug-button-disabled,
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left-hortype.ug-skin-default.ug-button-disabled{
    background-position:0px -60px;
}


/*--- right arrow - horizontal panel type ---*/

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right-hortype.ug-skin-default{
    width:15px;
    height:30px;
    background-image:url('../img/slider_arrow_right.png');
    background-position:0px 0px;
}

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right-hortype.ug-skin-default.ug-button-hover{
    background-position:0px -30px;
}

.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right-hortype.ug-skin-default.ug-button-hover.ug-button-disabled,
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right-hortype.ug-skin-default.ug-button-disabled{
    background-position:0px -60px;
}


/* --- Strip Panel Arrows -- */

/* left and right arrows */

.ug-strip-panel .ug-strip-arrow-left.ug-skin-default,
.ug-strip-panel .ug-strip-arrow-right.ug-skin-default{
    width:25px;
    height:50px;
}

.ug-strip-panel .ug-strip-arrow-left.ug-skin-default .ug-strip-arrow-tip,
.ug-strip-panel .ug-strip-arrow-right.ug-skin-default .ug-strip-arrow-tip{
    background-position:0px 0px;
    background-repeat:no-repeat;
    width:4px;
    height:7px;
}

.ug-strip-panel .ug-strip-arrow-left.ug-skin-default .ug-strip-arrow-tip{
    background-image:url('../img/arrows_strip_left.png');
}

.ug-strip-panel .ug-strip-arrow-right.ug-skin-default .ug-strip-arrow-tip{
    background-image:url('../img/arrows_strip_right.png');
}

.ug-strip-panel .ug-strip-arrow-left.ug-skin-default.ug-button-hover .ug-strip-arrow-tip,
.ug-strip-panel .ug-strip-arrow-right.ug-skin-default.ug-button-hover .ug-strip-arrow-tip{
    background-position:0px -7px;
}


/* up and down arrows */

.ug-strip-panel .ug-strip-arrow-up.ug-skin-default,
.ug-strip-panel .ug-strip-arrow-down.ug-skin-default{
    height:25px;
    width:50px;
}

.ug-strip-panel .ug-strip-arrow-up.ug-skin-default .ug-strip-arrow-tip,
.ug-strip-panel .ug-strip-arrow-down.ug-skin-default .ug-strip-arrow-tip{
    background-position:0px 0px;
    background-repeat:no-repeat;
    width:7px;
    height:4px;
}

.ug-strip-panel .ug-strip-arrow-up.ug-skin-default .ug-strip-arrow-tip{
    background-image:url('../img/arrows_strip_up.png');
}

.ug-strip-panel .ug-strip-arrow-down.ug-skin-default .ug-strip-arrow-tip{
    background-image:url('../img/arrows_strip_down.png');
}

.ug-strip-panel .ug-strip-arrow-up.ug-skin-default.ug-button-hover .ug-strip-arrow-tip,
.ug-strip-panel .ug-strip-arrow-down.ug-skin-default.ug-button-hover .ug-strip-arrow-tip{
    background-position:-7px 0px;
}

.ug-strip-panel .ug-strip-arrow.ug-skin-default.ug-button-disabled .ug-strip-arrow-tip{
    background-position:0px 0px;
    opacity:0.5;
    filter: alpha(opacity = 50);
}


/* --- Panel Handle Tip -- */

/* left and right handle */
.ug-gallery-wrapper .ug-handle-tip-left.ug-skin-default,
.ug-gallery-wrapper .ug-handle-tip-right.ug-skin-default{
    width:22px;
    height:36px;
    background-image:url('../img/grid_handle_black_left.png');
    background-repeat:no-repeat;
    background-position:0px -36px;
}

.ug-gallery-wrapper .ug-handle-tip-right.ug-skin-default{
    background-image:url('../img/grid_handle_black_right.png');
    background-position:0px -36px;
}

.ug-gallery-wrapper .ug-handle-tip-left.ug-button-hover.ug-skin-default,
.ug-gallery-wrapper .ug-handle-tip-right.ug-button-hover.ug-skin-default{
    background-position:0px -0px;
}

.ug-gallery-wrapper .ug-handle-tip-left.ug-skin-default.ug-button-closed,
.ug-gallery-wrapper .ug-handle-tip-right.ug-skin-default.ug-button-closed{
    background-position:0px -108px;
}

.ug-gallery-wrapper .ug-handle-tip-left.ug-skin-default.ug-button-closed.ug-button-hover,
.ug-gallery-wrapper .ug-handle-tip-right.ug-skin-default.ug-button-closed.ug-button-hover{
    background-position:0px -72px;
}


/* top and bottom handle */

.ug-gallery-wrapper .ug-handle-tip-top.ug-skin-default,
.ug-gallery-wrapper .ug-handle-tip-bottom.ug-skin-default{
    width:36px;
    height:22px;
    background-image:url('../img/grid_handle_black_top.png');
    background-repeat:no-repeat;
    background-position:-36px 0px;
}

.ug-gallery-wrapper .ug-handle-tip-bottom.ug-skin-default{
    background-image:url('../img/grid_handle_black_bottom.png');
    background-position:-36px 0px;
}

.ug-gallery-wrapper .ug-handle-tip-top.ug-skin-default.ug-button-hover,
.ug-gallery-wrapper .ug-handle-tip-bottom.ug-skin-default.ug-button-hover{
    background-position:0px 0px;
}

.ug-gallery-wrapper .ug-handle-tip-top.ug-skin-default.ug-button-closed,
.ug-gallery-wrapper .ug-handle-tip-bottom.ug-skin-default.ug-button-closed{
    background-position:-108px 0px;
}

.ug-gallery-wrapper .ug-handle-tip-top.ug-skin-default.ug-button-closed.ug-button-hover,
.ug-gallery-wrapper .ug-handle-tip-bottom.ug-skin-default.ug-button-closed.ug-button-hover{
    background-position:-72px 0px;
}


.ct-box {
    margin: 0;
}

article.news-article {
    background: #fbfbfb;
    padding: 10px;
}

.ct-box li{
    float: left;
    margin: 0;
    width: 50%;
    padding: 10px;
}

.ct-box h3 {
    line-height: 1.2;
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.ct-box article .ct-subline {
    padding: 0 0 1.5em;
}
.ct-box p {
    line-height: 1.5;
}
.ct-feat-excerpt span a {
    white-space: nowrap;
}
article .ct-subline {
    padding: 0 0 0.5em 45px;
    color: #9DA8B0;
    font-size: 0.925em;
    position: relative;
    font-weight: bold;
}

article .ct-subline a {
    white-space: nowrap;
}

.ct-subline time {
    margin: 0 2px;
    padding: 0px;
    white-space: nowrap;
}

.ct-latest-thumb {
    float: left;
    margin: 0 20px 10px 0;
}

.ct-latest-thumb a {
    display: block;
    width: 105px;
    height: 105px;
    background: #237dac url(../images/thumb_small.png) no-repeat center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
}

.ct-latest-thumb a img {
    display: block;
    width: 105px;
    height: 105px;
}

.ct-feat-excerpt {
    line-height: 1.5;
}

.clr {
    float: none;
    clear: both;
}

.singlepost-thumb {
    border: 5px solid #237dac;
    width: 100%;
    margin-bottom: 18px;
}

.singlepost-thumb img{
    width: 100%;
}

.singlepost-desc{
    font-size: 14px;
}

.ct-post-nav {
    clear: both;
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid whiteSmoke;
}

.ct-post-nav div.ct-post-prev {
    float: left;
    padding-left: 40px;
}

.ct-post-nav div.ct-post-next {
    float: right;
    padding-right: 40px;
    text-align: right;
}

.ct-post-nav div {
    position: relative;
    display: block;
    width: 245px;
    color: #999;
    font-size: 14px;
}

.ct-post-nav div strong {
    color: #BBB;
    text-transform: uppercase;
    font-size: 11px;
}


.ct-post-nav div a {
    display: block;
    font-weight: bold;
}
.ct-post-nav a {
    color: #237dac;
}

.ct-post-nav a:hover{
    color: #2D3E4A;
}

.ct-post-nav div:hover a:after {
    color: #202d3a;
}

.ct-post-nav .ct-post-prev a:after {
    content: '\00AB';
    left: 0px;
}
.ct-post-nav .ct-post-next a:after {
    content: '\00BB';
    right: 0px;
}

.ct-post-nav div a:after {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    height: 100%;
    color: #F4F5F7;
    font-weight: normal;
    font-size: 56px;
    font-family: Arial, sans-serif;
    line-height: 1;
}

.resource-article {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

article.resource-article:before {
    content: '\f054';
    font-family: fontawesome;
    float: left;
    padding-right: 15px;
    height: 70px;
}

.f-common-wrapper img{
    width: 100%;
}


.team-mem {
    background: #e7e7e7;
    padding: 15px;
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 12px;
}

.team-photo {
    max-width: 172px;
    width: 100%;
    float: left;
    margin-right: 25px;
}

.team-mem img {
    width: 100%;
}

.team-mem ul li {
    display: inline-block;
}

p.team-descp {
    margin-top: 10px;
    margin-bottom: 10px;
}

.team-mem li img {
    width: 100%;
}
.team-mem h3{
    margin: 10px 0 8px;
}
.team-mem span{
    font-weight: bold;
    font-size: 14px;
}

.content-detail h4.panel-title th:nth-child(n) {
    width: 75%;
}